.menu-navigation{
    @media (max-width: 650px) {
        width: 200px;
        margin: auto;
    }
    @media (min-width: 650px) {
        width: 100%;
        max-width: calc(1220px + $container-horizontal-offset * 2);
        margin: auto;
        padding: 0px $container-horizontal-offset;
        box-sizing: border-box;
    }
    &__container{
        @media (max-width: 650px) {
            padding: $padding-small;
            background: $card-3-color;
            border: 4px solid $button-1-color;
            border-top: none;
            border-radius: 0 0 45px 45px;
        }
    }
    &__list{
        display: grid;
        gap: $padding-tiny;
        justify-content: center;
        &-item{
            
        }
        @media (min-width: 650px) {
            display: flex;
            gap: $padding-middle;
        }
    }
}