.menu-navigation{
    z-index: 800;
    @media (max-width: 650px) {
        position: absolute;
        width: 60%;
        right: 20%;
        left: 20%;
        top: -252px;
        &:focus{
            top: 84px;
        }
    }
    @media (min-width: 650px) {
        width: 100%;
        max-width: calc(1220px + $container-horizontal-offset * 2);
        margin: auto;
        padding: 0px $container-horizontal-offset;
        box-sizing: border-box;
    }
    &__container{
        @media (max-width: 650px) {
            padding: $padding-middle 0px;
            background: $card-3-color;
            border: 4px solid $button-1-color;
            border-top: none;
            border-radius: 0 0 60px 65px;
        }
    }
    &__button{
        &:focus .menu-navigation{
            @media (max-width: 650px) {
                transition: top .7s ease-out;
                top: 84px;
            }
        }
    }
    &__list{
        display: grid;
        gap: $padding-tiny;
        justify-content: center;
        &-item{
        }
        @media (min-width: 650px) {
            display: flex;
            gap: $padding-middle;
        }
    }
}