.privacy-policy{
    &-section{
        margin-top: $sections-offset-small;
	    margin-bottom: $sections-offset-small;
    }
    &__title{
        color: $text-5-color;
        padding-bottom: $padding-huge;
    }
    &__list{
        &-1{
            list-style: none;
            counter-reset: li;
            &__title{
                text-align: justify;
                color: $text-2-color;
                padding-bottom: $padding-middle;
                &:before {
                    counter-increment: li;
                    content: counters(li,".") ". ";
                }
            }
        }
        &-2{
            padding-top: $padding-middle;
            list-style: none;
            counter-reset: li;
            &__title{
                text-align: justify;
                padding-bottom: $padding-small;
                padding-left: $padding-middle;
                color: $text-2-color;
                &:before {
                    counter-increment: li;
                    content: counters(li,".") ". ";
                }
            }
        }
        &-3{
            padding-top: $padding-middle;
            list-style: none;
            counter-reset: li;
            &__title{
                color: $text-2-color;
                padding-bottom: $padding-small;
                padding-left: $padding-huge;
                &:before {
                    counter-increment: li;
                    content: counters(li,".") ". ";
                }
            }
        }
    }
}