.footer{
    background: $card-3-color;
    border-top: 4px solid $button-1-color;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    @media (max-width: 650px) {
        gap: $padding-huge;
    }
    @media (max-width: 400px) {
        gap: $padding-middle;
    }
    &__menu-box{
        width: 100%;
        &__list{
            display: grid;
            gap: $padding-huge;
            grid-template-columns: repeat(4, 1fr);
            @media (max-width: 650px) {
                grid-template-columns: repeat(1, 1fr);
            }
            &-item{
                &__title{
                    position: relative;
                    color: $text-3-color;
                    font-size: 1.15rem;
                    @media (max-width: 650px) {
                        font-size: .9rem;
                        padding: $padding-small;
                        border: 3px solid $button-1-color;
                        border-radius: 6px;
                        &::after{
                            position: absolute;
                            content: "+";
                            right: $padding-small;
                        }
                        &:hover{
                            background: $accent-1-color;
                        }
                    }
                }
                &__box{
                    padding-top: $padding-huge;
                    display: grid;
                    gap: $padding-small;
                    @media (max-width: 650px) {
                        display: none;
                        gap: $padding-small;
                    }
                }
            }
        }
    }
    &__network-box{
        margin: auto;
        display: grid;
        border: 3px solid $button-3-color;
        padding: $padding-small;
        border-radius: 6px;
        gap: $padding-small;
        grid-template-columns: repeat(6, 1fr);
        
        @media (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
            gap: $padding-huge;
        }
        @media (max-width: 650px) {
            grid-template-columns: repeat(6, 1fr);
            gap: $padding-middle;
            border: none;
        }
        @media (max-width: 300px) {
            grid-template-columns: repeat(3, 1fr);
            gap: $padding-huge;
        }
        &:hover{
            border-color: $accent-1-color;
        }
        &__box{
            width: 22px;
            height: 22px;
            svg{
                fill: $svg-1-color;
                &:hover{
                    fill: $accent-1-color;
                    transform: scale(1.2);
                }
            }
        }
    }
}