.button {
    background: none;
    border: none;
    font-weight: 500px;

    &::first-letter {
      text-transform: uppercase;
    }
    &-text{
      font-weight: 600;
      font-size: .9rem;
    }
  
    &-menu{
      display: grid;
      padding: $padding-tiny 0px $padding-tiny $padding-big;
      &:hover{
        border-left: 4px solid $accent-1-color;
      }
      @media (min-width: 650px) {
        display: flex;
        gap: $padding-small;
        padding: $padding-tiny;
        &:hover{
          background: none;
          border: none;
          border-bottom: 4px solid $accent-1-color;
        }
      }
    }
  
    &-fill{
      font-size: 1rem;
      padding: $padding-tiny $padding-middle;
      border-radius: 6px;
      background: $button-3-color;
      color: $text-3-color;
      &:hover{
          color: $text-3-color;
          background: $button-1-color;
      }
    }
  
    &-navigation{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: $button-3-color;
      border: 3px solid $button-3-color;
      border-radius: 6px;
      width: 30px;
      height: 30px;
      font-size: .8rem;
      &:hover{
          border-color: $accent-1-color;
          color: $accent-2-color;
          background: $accent-1-color;
      }
    }
  
    &-border{
      padding: $padding-small $padding-big;
      position: relative;
      border: 2.5px solid $button-3-color;
      color: $button-3-color;
      border-radius: 6px;
      &:hover{
        color: $accent-1-color;
        border-color: $accent-1-color;
      }
      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        border: 2.5px solid rgba(0, 0, 0, 0);
        border-radius: 6px;
        transition: .3s;
      }
      &:hover::after{
        border-color: $accent-1-color;
        width: calc(100% - 15px);
        height: calc(100% + 15px);
      }
    }
  
    &-link{
      &__middle{
        font-size: 1rem;
        &:hover{
          font-size: 1.1rem;
        }
      }
    }
  
    &-img{
      width: 30px;
      height: 30px;
      fill: $svg-1-color;
      position: relative;
      &__condition{
        fill: $svg-1-color;
        padding: $padding-small;
        border: 3px solid $button-3-color;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: $padding-small;
        @media (max-width: 650px) {
          padding: $padding-tiny;
        }
        &-text{
          color: $text-1-color;
        }
        svg{
          width: 30px;
          height: 30px;
          @media (max-width: 650px) {
            width: 20px;
            height: 20px;
          }
        }
        &:hover{
          border-color: $accent-1-color;
          svg{
            fill: $accent-1-color;
            transform: scale(1.2);
          }
          p{
            transform: scale(1.1);
            border-color: $accent-1-color;
            color: $accent-1-color;
          }
        }
      }
      &__count{
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: -5px;
        color: $text-4-color;
        font-size: .7rem;
        width: 18px;
        height: 18px;
        border: 2px solid $button-3-color;
        border-radius: 50%;
        background: $card-3-color;
      }
      &:hover{
        svg{
          fill: $accent-1-color;
          transform: scale(1.2);
        }
        div{
          transform: scale(1.1);
          border-color: $accent-1-color;
          color: $accent-1-color;
        }
      }
    }
  }
  
  @keyframes like_scale {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.3);
      }
      100% {
        transform: scale(1);
      }
  }