.create-question{
    &__container{
        margin-top: $sections-offset-middle;
        margin-bottom: $sections-offset-middle;
        display: grid;
        gap: $padding-huge;
    }
    &__title{
        font-size: 2rem;
        color: #323232;
    }
    &__box{
        display: grid;
        gap: $padding-huge;
        padding: $padding-middle;
        &-container{
            display: grid;
            gap: $padding-middle;
        }
    }
    &__textarea{
        min-height: 100px;
        resize: vertical;
        outline:none;
    }
}

.form-title{
    font-weight: 500;
    color: #323232;
    font-size: 1.5rem;
}