<div class="filter">
    <form action="filter-contaner">
        <input type="text" id="filter__earch-teg" name="search-teg" placeholder="Поиск..." class="filter-contaner__search">
        <label class="filter-contaner__radiobutton">
            <input type="radio" class="filter-contaner__radiobutton-radio">
            <span class="filter-contaner__radiobutton-text">Самые продвинутые</span>
            <input type="search" name="" id="">
        </label>
        <button type="range" class="button button-img__condition">
            <p class="button-text button-img__condition-text">Очистить</p>
        </button>
        <button type="reset" class="button button-img__condition">
            <p class="button-text button-img__condition-text">Очистить</p>
        </button>
    </form>
</div>